
{% extends 'header.html' %}
{% block content %}
{{ form.media }}
<style type="text/css">
.form-select:focus{
        border-color: #00aa54!important;
            box-shadow: 0 0 0 0.25rem rgb(113 205 110 / 26%)!important;
            }

            .error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
</style>
{% if user.email != form.email.value() and 'user/account-update' in request.path %}
<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="error-template">
              <h1>
                  Oops!</h1>
              <h2>
                  404 Not Found</h2>
              <div class="error-details">
                  Sorry, an error has occured, Requested page not found!<br>
                 <strong>"{{request.path}}"</strong> Is not a valid url
              </div>
              <div class="error-actions">
                  <a href="{{ url('home') }}" class="btn btn-primary btn-lg submit_button "><i class="fa-solid fa-house" style="color:white"></i>
                      Take Me Home </a><a href="{{ url('about') }}" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contact Support </a>
              </div>
          </div>
      </div>
  </div>
</div>
{% else %}
<form method="post"  enctype="multipart/form-data" data-ajax="false" class="row g-3 needs-validation  m-2" novalidate>
 {{ csrf_input }}
  

  {{ form.type.as_hidden() }}
   
   {% for field in form.visible_fields() -%}
   
  {% if field.name == "profile_pic"%} 
  <div class ="d-flex justify-content-center" >
     
    {{ field }}
    <p><label for="file" style="cursor: pointer"><img id="output" {% if '/user/account-update/' in request.path and form.instance.profile_pic.url %} src="{{form.instance.profile_pic.url}}" {% else %} src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqKCA0WCWoqjIX5hwq6JFfaakFaA2qzhHOUGdFx7vARMfel6LqTGZPT0Du&s=10" {% endif %} style ="height:150px; width:150px;border:solid; border-radius:50%;"/></label></p>
  <!--  <img src="https://cdn-icons-png.flaticon.com/512/83/83574.png" style="height:30px;margin-left:58%;margin-top:-90px;">  -->
 
   </div>
     {% endif %}
     {% if field.name != "profile_pic" and  field.name != "password" and field.name != "confirm_password" and field.name != "type" %} 
   <div class ="col-md-6">
    
<label>{{field.label}} </label> {{field}} 
<p class="error" {% if field.name == 'mobile_number' %}id="m_error"{% endif %}>{% for error in field.errors %}{{ error }}{% endfor %}</p> 
 <div class="invalid-feedback " >
 <span class="error">This field is required!</span>
 </div>
 </div>

     {% endif %}

  {% endfor -%}
   {% if request.path == "/user/create" %} 
<div class ="col-md-6">
   
 <label>{{form.type.label}} </label> {{form.type}} 
 <p class="error">{% for error in form.type.errors %}{{ error }}{% endfor %}</p> 
  <div class="invalid-feedback " >
  <span class="error">This field is required!</span>
  </div>
  </div>
<div class ="col-md-6">
   
 <label>{{form.password.label}} </label> {{form.password}} 
 <p class="error">{% for error in form.password.errors %}{{ error }}{% endfor %}</p> 
  <div class="invalid-feedback " >
  <span class="error">This field is required!</span>
  </div>
  </div>
 <div class ="col-md-6">
   
 <label>{{form.confirm_password.label}} </label> {{form.confirm_password}} 
 <p class="error">{% for error in form.confirm_password.errors %}{{ error }}{% endfor %}</p> 
  <div class="invalid-feedback " >
  <span class="error">This field is required!</span>
  </div>
  </div>
    {% endif %} 

     <button type="submit" class="btn btn-primary submit_button mb-2 mt-5" id="submit">  {% if  "/user/account-update" in request.path %} Update {% else %} SUBMIT {% endif %}</button>
  {% if  "/user/account-update" in request.path %}  
     <a href="{{ url ('home') }}" class="btn btn-secondary mb-4">Cancel</a>   
  {% endif %}      
        </form>


{% endif %}
<script>
  let loadProfiles = document.getElementById("file");
  loadProfiles.onchange = function() {
 
  var profiles = document.getElementById('output');
  profiles.src = URL.createObjectURL(event.target.files[0]);
  };
  
  </script>
{% endblock %}